<div class="container">

<div class="banner">
  <div class="texto-banner">
  <h1>Consultoría Psicológica</h1>
  <h5>Desarrollo personal</h5>
  </div>
</div>

<div class="row tarjetas">

  <div class="col-lg-4 col-md-6">
  <div class="card" style="width: 20rem;">
    <img src="../../../assets/img/accesible.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Terapia individual</h2>
      <ul>
        <li>Toma de decisiones</li>
        <li>Duelos - Divorcios</li>
        <li>Cambio de trabajo</li>
        <li>Maternidad</li>
        <li>Desarrollo personal</li>
        <li>Relaciones vinculares</li>
      </ul>
    </div>
  </div>
</div>

<div class="col-lg-4 col-md-6">
  <div class="card" style="width: 20rem;">
    <img src="../../../assets/img/flexible.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Terapia de Parejas</h2>
      <ul>
        <li>Organización familiar</li>
				<li>Toma de decisiones</li>
				<li>Sexualidad</li>
				<li>Relación vincular</li>
				<li>Dificultades en la comunicación</li>
				<li>Crianza de los hijos</li>
      </ul>
    </div>
  </div>
</div>

<div class="col-lg-4 col-md-6">
  <div class="card" style="width: 20rem;">
    <img src="../../../assets/img/continua.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Adolescentes</h2>
      <ul>
				<li>Valoración propia</li>
				<li>Toma de decisiones</li>
				<li>Desarrollo personal</li>
				<li>Relaciones</li>
        <li>Orientacion vocacional</li>
        <li>Orientacion vocacional</li>
      </ul>
    </div>
  </div>
</div>

</div>


<div class="servicios">
  <div class="row servicios-item">
    <div class="col-lg-5 com-md-12 col-sm-12 servicio">
      <h1>Terapia individual</h1>
      <p>Un espacio para poder tratar de manera individual tus conflictos. Por medio de la escucha empática libre de juicios y centrada en tu persona vas a poder resolver la problemática actual o tomar decisiones adecuadas desde una nueva perspectiva.</p>
      <button class="btn btn-primary">Me interesa</button>
    </div>
      <div class="col-lg-5 com-md-12 col-sm-12"></div>
  </div>
  
  <div class="row servicios-item">
    <div class="col-lg-5 com-md-12 col-sm-12"></div>
    <div class="col-lg-5 com-md-12 col-sm-12 servicio">
      <h1>Terapia de Parejas</h1>
      <p>Un espacio para dos donde se fomenta el diálogo y la comunicación de la pareja para lograr expresar sentimientos y emociones de manera conjunta. El espacio para la pareja es muy facilitador para la resolución de conflictos generando acuerdos, diálogo y comprensión mutua.</p>
      <button class="btn btn-primary">Me interesa</button> 
    </div>
    </div>
  
  <div class="row servicios-item">
    <div class="col-lg-5 com-md-12 col-sm-12 servicio">
      <h1>Adolescentes</h1>
      <p>Este espacio le facilita al adolescente transitar esta época llena de cambios de una manera eficaz, potenciando su autoestima y la confianza en sí mismo. Muchas familias tienen dificultades con sus hijos adolescentes en esta época tan vertiginosa, es por eso que desde la Consultoría Psicológica se acompaña al adolescente en esta etapa sensible fomentando su autoconfianza y las relaciones familiares y con sus grupos de pertenencia.</p>
      <button class="btn btn-primary">Me interesa</button>
    </div>
    <div class="col-lg-5 com-md-12 col-sm-12"></div>
  
  </div>
  </div>

</div>