<div class="container">

<div class="home">

<div class="row home-item">
  <div class="col-md-1 col-sm-12"></div>
  <div class="col-md-5 col-sm-12">
    <h1>Mi transformacion</h1><p>
    Todo lo que vino después, fue la necesidad de compartir mi experiencia, con la plena seguridad de que cualquier persona puede experimentar lo mismo y lograr su propio desarrollo personal. <a href="">Leer más</a></p></div>
  <div class="col-md-5 col-sm-12"><img src="../../../assets/img/mitransformacion.png" alt=""></div>
  <div class="col-md-1 col-sm-12"></div>
</div>

<div class="row home-item">
  <div class="col-md-1 col-sm-12"></div>
  <div class="col-md-5 col-sm-12">
    <h1>Que es la consultoria?</h1><p>La consultoría ofrece un espacio de escucha empática sin hacer juicios de valor, acompañando al consultante en problemáticas de la vida cotidiana y en las crisis vitales a lo largo de la vida. <a href="">Leer más</a></p>

  </div>
  <div class="col-md-5 col-sm-12">
    <img src="../../../assets/img/queeslaconsultoria.png" alt="">

  </div>
    <div class="col-md-1 col-sm-12"></div>
  </div>

<div class="row home-item">
  <div class="col-md-1 col-sm-12"></div>
  <div class="col-md-5 col-sm-12">
    <h1>Cuando recurrir a terapia?</h1>
    <p>Cuando los problemas te excedan
    Cuando tu malestar emocional no te permita seguir con tu rutina
    Cuando necesites explorar un área de tu vida
    Cuando sientas que te cuesta tomar decisiones
    Cuando te planteas que quieres vivir de otro modo <a href="">Leer más</a></p></div>
  <div class="col-md-5 col-sm-12"><img src="../../../assets/img/cuandorecurrir.png" alt=""></div>
  <div class="col-md-1 col-sm-12"></div>

</div>
</div>

<div class="tarjetas">

  <div class="row">
    <div class="col-md-4 col-sm-12 col-12">
  <div class="card" style="width: 20rem;">
    <img src="../../../assets/img/accesible.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Sólo necesitas un lugar privado en casa donde te sientas cómodo.</p>
    </div>
  </div>
</div>
  
<div class="col-md-4 col-sm-12 col-12">
  <div class="card" style="width: 20rem;">
    <img src="../../../assets/img/flexible.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Se adapta a tus días y horarios.</p>
    </div>
  </div>
</div>

<div class="col-md-4 col-sm-12 col-12">
  <div class="card" style="width: 20rem;">
    <img src="../../../assets/img/continua.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Aunque viajes o te muevas de lugar, podes continuar tu proceso.</p>
    </div>
  </div>
</div>
</div>
</div>


<div class="cta">
  <div>
  <h1>"Renova-T"</h1>
  <p>Un programa en formato E-book para que puedas renovarte a tu tiempo.</p>
  <a class="btn btn-primary" href="https://api.whatsapp.com/send?phone=1159436942">Conseguilo aca</a>
</div>
</div>

<div id="carouselExample" class="carousel slide">
  <h1>Testimonios</h1>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <p>"Mi situación fue muy dolorosa, perdí a mi esposo en un accidente y pensaba que la vida no tenia mas sentido. Gracias al acompañamiento de Claudia, sus palabras y sus silencios pude atravesar el duelo sintiéndome acompañada y entendida."</p>
      <h5>Susana</h5>
    </div>
    <div class="carousel-item">
      <p>"Llegué a Claudia en medio de la cuarentena angustiada y frustrada por proyectos que no pudieron ser por la pandemia. Claudia me orientó y me ayudó a darme tiempo y a ordenarme. Durante las sesiones siempre me sentí muy cómoda y comprendida."</p>
      <h5>Alicia</h5>
    </div>
    <div class="carousel-item">
      <p>"En mis sesiones aprendí lo más interesante que se puede aprender en este mundo, aprendí más de mí, no todo lo que supe me agradó, pero soy yo y puedo cambiar para mí mismo."</p>
      <h5>David</h5>
  </div>
  <div class="carousel-item">
    <p>"Mi experiencia fue muy positiva porque me ayudó en la comunicación en esta nueva forma laboral home Office. La consulta es más que accesible. Se los recomiendo."</p>
    <h5>Sonia</h5>
  </div>
  <div class="carousel-item">
    <p>"Mi experiencia con la consultoría fue genial, pude ir resolviendo los problemas que tenía en mi vida diaria, estaba muy frustrada y no sabia que dirección tomar."</p>
    <h5>Patricia</h5>
  </div>
  <div class="carousel-item">
    <p>"Mi proceso fue muy duro, llegue a Claudia después de mi separación y a pesar de haber sido muy difícil para mi, pude rehacer mi vida y dejar el rencor y el dolor de lado." </p>
    <h5>Carlos</h5>
</div>
<div class="carousel-item">
  <p>"La entrada en la adolescencia de mi hijo fue tremenda, no sabía cómo acercarme a él y era discutir todo el día. Recurrí a la consultoría buscando apoyo, y me descubrí a mi misma enfrentando mis propios miedos de adolescente. Le agradezco profundamente haberme ayudado a mejorar la relación con mi hijo."</p>
  <h5>Marcela</h5>
</div>


  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>