<div class="talleres container">

  <div class="row talleres-item">
    <div class="col-md-1"></div>
    <div class="col-md-5 col-sm-12">
      <h1>Construyendo amor propio</h1>
      <p>¿Cómo amar a los demás si no me amo a mi misma?</p>
      <p>¿Cómo poder entender cúales son mis necesidades si no soy consciente de mi misma?</p>
      <p>¿Cómo aceptarme tal cual soy sin juzgarme?</p>
      <p>El amor propio es fundamental en nuestra vida para poder amar con libertad.</p> 
      <p>No lo llames egoísmo, es amor por vos misma.</p> 
      <button class="btn btn-primary" href="">Leer más</button>
    </div>
    <div class="col-md-5 col-sm-12"><img src="../../../assets/img/amorpropio.png" alt=""></div>
    <div class="col-md-1"></div>
  </div>
  
  <div class="row talleres-item">
    <div class="col-md-1"></div>
    <div class="col-md-5 col-sm-12"><img src="../../../assets/img/escritura.jpg" alt=""></div>
    <div class="col-md-5 col-sm-12">
      <h1>Escritura Terapéutica</h1>
      <p>Poner en palabras lo que nos pasa nos ayuda a conectar con nuestras emociones. Liberarlas por medio de la escritura es altamente terapéutico para sanarlas y transformarlas.</p>
      <p>Por medio de la escritura atravesamos el proceso de cambio de una manera eficaz y consciente, resolviendo conflictos y fomentando las emociones positivas y el autoconocimiento.</p>
      <button class="btn btn-primary" href="">Próximamente</button>
    </div>
      <div class="col-md-1"></div>
    </div>
  
  <div class="row talleres-item">
    <div class="col-md-1"></div>
    <div class="col-md-5 col-sm-12">
      <h1>RenovaT (vivi la vida que queres)</h1>
      <p>Cuántas veces nos sentimos incómodas con nuestra rutina, con esa vida que elegimos y que habíamos pensado para siempre, y al darnos cuenta que no es como imaginamos caemos en el hastío y la apatía.</p>
      <p>Con este e-book lograrás renovarte y alcanzar la vida de tus sueños.</p>
      <button class="btn btn-primary" href="">Leer más</button>
    </div>
    <div class="col-md-5 col-sm-12"><img src="../../../assets/img/mujer.jpg" alt=""></div>
    <div class="col-md-1"></div>
  
  </div>

  </div>